

<!doctype html>

<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>viewGames</title>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- VueJs source -->
<script src="https://unpkg.com/vue@next"></script>
</head>

<!-- AWS data table -->
<body> 
  <div id="GameApp" class="container">
    <table id="myTable" class="table">
        <thead>
          <tr>
            <th scope="col">Game Date</th>
            <th scope="col">Game Field</th>
          </tr>
        </thead>
        <tr v-for= "game in games">
          <td>{{ game.gameDate }}</td>
          <td>{{ game.gameField }}</td>
        </tr>
      </table>

<h2 id="format1">ADD A REQUEST BELOW:</h2>
<title>Add Game Below:</title>

  <!-- Bootstrap form -->
<form v-on:submit.prevent="postNewGame">
  <div class="mb-3">
    <label for="exampleInputtitle" class="form-label">Game Date</label>
    <input type="date" v-model="gameForm.gameDate" class="form-control" id="exampleInputTitle">
  </div>
  <div class="mb-3">
    <label for="exampleInputAuthor" class="form-label">Game field</label>
    <input type="text" v-model="gameForm.gameField" class="form-control" id="exampleAuthor">
  </div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



  <!-- query sources -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <!-- connecting to js files -->
<script src="js/projectdb.js"></script>
<script src='js/tablesort.min.js'></script>


<script>
    new Tablesort(document.getElementById('myTable'));
</script>


</body>

</div>